nav {
  height: 80px;
}

.navbar-brand {
  margin: 0 auto;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  color: rgb(65, 63, 63);
  font-family: 'Gloria Hallelujah', cursive, sans-serif;
}

.navbar-brand:hover {
  color: rgb(159, 109, 43);
}

.nav-icon {
  margin-right: 10px;
}

.index-container {
  /* border: 2px solid rgb(248, 248, 6); */
  border-radius: 8px;
  padding: 15px;
  margin: 50px auto;
  width: 720px;
  max-width: 960px;
  box-shadow: 3px 1px 16px 3px rgba(35, 222, 235, 0.5);
}

.index-main-icon {
  margin: 20px auto;
  text-align: center;
  width: 100%;
  font-size: 150px;
  color: rgb(203, 203, 203);
}

#submit-button {
  width: 250px;
  letter-spacing: 3px;
}

#copy-button {
  letter-spacing: 1px;
}

.short-url-input {
  width: 580px;
}

p {
  font-family: 'Gloria Hallelujah', cursive, sans-serif;
}